<h3>施設一覧</h3>

<% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
<% end %>
 
<table>
  <thead>
    <tr>
      <th>施設名</th>
      <th>紹介文</th>
      <th>値段</th>
      <th>画像</th>
      <th>作成日</th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td><%= room.introduction %></td>
        <td><%= room.price %></td>
        <td><%= room.image %></td>
        <td><%= room.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "施設新規登録", :new_room %></p>
