<h3>施設詳細</h3>

<table>
  <tr>
    <th>施設名</th>
    <td><%= @room.name %></td>
  </tr>
  <tr>
    <th>施設画像</th>
    <td><%= @room.image %></td>
  </tr>
  <tr>
    <th>紹介文</th>
    <td><%= @room.introduction %></td>
  </tr>
  <tr>
    <th>宿泊料金（/日）</th>
    <td><%= @room.price %></td>
  </tr>
</table>

# 予約するボタン
<div>
  <ul>
    # <li><%= link_to "この施設を予約する", ???? %></li>
  </ul>
</div>

<div>
  <ul>
    <li><%= link_to "施設一覧に戻る", :rooms %></li>
  </ul>
</div>
